/* loading */

.loading {}

.loading__message {
  margin-top: -1em;
  margin-right: -1em;
  font-size: 10em;
  text-align: center;
  animation: loadingIn .5s;
}

@keyframes loadingIn {
  from{
    opacity: 0;
    transform: translateY(-15%);
  }
}
