// _pc.scss

.pcs {
  overflow: hidden;
  margin-bottom: 1.25em;
  margin-left: -3px;
  padding: 4px;
}

.pc {
  float: left;
  height: 10px;
  width: 10px;
  margin-right: 4px;
  margin-top: 4px;

  background: darken($colour--bg, 10%);
  border-radius: 50%;
}

circle.pc {
  fill: darken($colour--bg, 10%);
}

.pc--free {
  background: #FF1354;

  animation: pcFreePulse 1s infinite ease-in;
}

circle.pc--free {
  fill: #FF1354;
}

@keyframes pcFreePulse {
    0% { box-shadow: 0 0 0 0px $colour--bg, 0 0 0 1px rgba(#DACE2C, 0); }
   50% { box-shadow: 0 0 0 1px $colour--bg, 0 0 0 2px rgba(#DACE2C, 1); }
  100% { box-shadow: 0 0 0 3px $colour--bg, 0 0 0 3px rgba(#DACE2C, 0); }
}

.pc--occupied {}

.pc__user,
.pc__status,
.pc__location {
  display: none;
}
